<div class="row">
  <div class="col-xs-12">
    <h1>Welcome to the Odd/Even Game!</h1>
    <h2>{{ currentCounterValue() }}</h2>
    <div class="row">
      <div class="col-xs-6">
        <app-game
          (counterStopped)="onCounterStop()"
          (counterUpdated)="onCounterUpdated($event)"
        ></app-game>
      </div>
      <div class="col-xs-6">
        <app-odd-even
          *ngFor="let value of counterValues"
          [value]="value"
        ></app-odd-even>
      </div>
    </div>
  </div>
</div>
